<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stackfing.sform.mapper.FormMapper">

    <select id="selectFormByName" parameterType="string" resultType="string">
        SELECT json_value FROM forms WHERE form_name = #{formname}
    </select>

    <select id="selectAllForm" resultType="string">
        select form_name from forms
    </select>

    <update id="updateFormByName" parameterType="map">
        UPDATE forms SET json_value = #{data.json} WHERE form_name = #{data.formname}
    </update>

    <update id="deployForm" parameterType="string">
        UPDATE forms SET status = 1 WHERE form_name = #{name}
    </update>

</mapper>